<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-document-heading" jhiTranslate="jhipsterSampleApplicationApp.document.home.createOrEditLabel">Create or edit a Document</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.document.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           formControlName="title"/>
                    <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('title')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.document.size" for="field_size">Size</label>
                    <input type="number" class="form-control" name="size" id="field_size"
                           formControlName="size"/>
                    <div *ngIf="editForm.get('size')!.invalid && (editForm.get('size')!.dirty || editForm.get('size')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('size')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('size')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.document.mimeType" for="field_mimeType">Mime Type</label>
                    <input type="text" class="form-control" name="mimeType" id="field_mimeType"
                           formControlName="mimeType"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.document.content" for="field_content">Content</label>
                    <select class="form-control" id="field_content" name="content" formControlName="content">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="contentOption.id === editForm.get('content')!.value?.id ? editForm.get('content')!.value : contentOption" *ngFor="let contentOption of contents; trackBy: trackById">{{ contentOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.document.car" for="field_car">Car</label>
                    <select class="form-control" id="field_car" name="car" formControlName="car">
                        <option *ngIf="!editForm.get('car')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="carOption.id === editForm.get('car')!.value?.id ? editForm.get('car')!.value : carOption" *ngFor="let carOption of cars; trackBy: trackById">{{ carOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('car')!.invalid && (editForm.get('car')!.dirty || editForm.get('car')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('car')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
